doctype html
html
  head
    title Issue Tracker
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(type='text/javascript', src='./firebasefunctions.js')
    script(type='text/javascript', src='https://cdn.firebase.com/js/client/1.0.15/firebase.js')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(href='css/metisMenu.min.css', rel='stylesheet')
    link(href='css/timeline.css', rel='stylesheet')
    link(href='css/startmin.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='css/morris.css', rel='stylesheet')
    script(src='app.js')
    script(src='js/session.js')
    script(src='js/app.js')
    script(src='https://www.gstatic.com/firebasejs/3.6.3/firebase.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(type='text/javascript').
      function checkCookies(){
      document.getElementById('usernametop').innerHTML= "ugo";
      }
  body(onload='checkCookie()')
    header.row
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .navbar-header
          a.navbar-brand(href='#') ISSUE TRACKER
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        // Top Navigation: Right Menu
        ul.nav.navbar-right.navbar-top-links
          li.dropdown.navbar-inverse
            
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-user.fa-fw
              span #{user}  
              b.caret
            ul.dropdown-menu.dropdown-user
              li.divider
              li
                form(action='/logout', method='post')
                  button#logout-submit(name='logout-submit', value='Log Out', onclick='') Log Out
        // Sidebar
        .navbar-default.sidebar(role='navigation', hidden='')
          .sidebar-nav.navbar-collapse
            ul#side-menu.nav
              li.sidebar-search
                .input-group.custom-search-form
                  input.form-control(type='text', placeholder='Search...')
                  span.input-group-btn
                    button.btn.btn-primary(type='button')
                      i.fa.fa-search
              li
                a.active(href='#')
                  i.fa.fa-dashboard.fa-fw
                  |  Create Issue
    .content.row.col-md-12
      .col-md-12
        .col-md-2.col-md-offset-1
          h1 TICKETS
        .col-md-7
        .col-md-2
          button#createTicketBtn New Ticket
      
       
        #issues
          table.table.table-striped.col-md-12
            thead
              tr
                 
                th Status
                th Description
                th Ticket ID
                th Raised by
                th Priority
                th Due date
                th Last Updated
                
            tbody
              if post
                each p in post
                  form#updateForm(action="/update" method="post") 
                    tr
                      td
                        select#updateStatus(name="updateStatus", disabled)
                          option(value=p.status)=p.status
                          option(value="in progress") in progress
                          option(value="resolved") resolved
                      td
                        textarea#updateDesc(disabled name="updateDesc")=p.desc
                      td
                        input#updateId(type="text" disabled name="updateId" value=p.tktid)
                      td
                        input#updateUser(type="text" disabled name="updateUser" value=p.user) 
                      td
                        input#updatePrior(type="text" disabled name="updatePrior" value=p.prior)
                      td
                        input#updateCreateDate(type="text" disabled name="updateCreateDate" value=p.date)
                      td
                        input#updateDate(type="text" disabled name="updateDate" value=p.update)
                      td
                        input#uid(type="text" hidden name="uid" value=p.uid)
                    
                      

    .col-md-1
    div
      form#createIssue(style='display:none', method='post', action='/create')
        h1 Create Issue
        .form-group
          label Department
          select#issueDept.form-control(name='issueDept')
            option(value='fin') Finance
            option(value='sal') Sales
            option(value='tec') Technical
        .form-group
          label Priority
          select#issuePriority.form-control(name='issuePriority')
            option(value='low') Low
            option(value='med') Medium
            option(value='high') High
        .form-group
          label Description
          textarea#issueDesc.form-control(name='issueDesc')
        .form-group
          .row.col-md-12
            .col-md-6
              button#createIssueBtn.form-control.btn(name='createIssueBtn', value='Create') Create
            .col-md-6
              a#cancelCreate.form-control.btn(name='cancelCreate', value='Create') Cancel
    div
      form#updateIssue(method='post', action='/update' style="display:none")
        h1 Edit Issue
        .form-group
          label Date Created
          input#dateCreated.form-control(name='dateCreated', disabled)
        .form-group
          label User
          input#userUpdate.form-control(name='userUpdate', disabled)
        .form-group
          label Status
          select#statusUpdate.form-control(name='statusUpdate')
            option(value='open') in progress
            option(value='closed') resolved
        .form-group
          label Department
          select#deptUpdate.form-control(disabled='', name="deptUpdate")
            option(value='fin') Finance
            option(value='sal') Sales
            option(value='tec') Technical
        .form-group
          label Priority
          select#priorUpdate.form-control(disabled='', name="priorUpdate")
            option(value='low') Low
            option(value='med') Medium
            option(value='high') High
        .form-group
          label Description
          textarea#descUpdate.form-control(disabled='', name="descUpdate")
        .form-group
          label Comments
          textarea#issueComment.form-control(name='issueComment')
        .form-group
          .row.col-md-12
            .col-md-6
              button#updateIssueBtn.form-control.btn(name='updateIssueBtn', value='Create') Create
            .col-md-6
              a#cancelUpdate.form-control.btn(name='cancelUpdate', value='Create') Cancel
    footer.row
    script(type='text/javascript').
      function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
      }
      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
      openDropdown.classList.remove('show');
      }
      }
      }
      }
      window.onload = function(event) {
      document.getElementById("createTicketBtn").onclick = function (){
      var showDiv = document.getElementById("createIssue");
      showDiv.style.display = "block";
      };
      document.getElementById("cancelCreate").onclick = function (){
      var showDiv = document.getElementById("createIssue");
      showDiv.style.display = "none";
      };

      function update(post){
      console.log(post);
      var showDiv = document.getElementById("updateIssue");
      showDiv.style.display = "block";
      };
      document.getElementsById("cancelUpdate").onclick = function (){
      var showDiv = document.getElementById("updateIssue");
      showDiv.style.display = "none";
      };
      




      }


